.homepage{
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;

    h2{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

.latestEpisodes{
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        li{
            background: var(--white);
            border:1px solid var(--gray-100);
            padding: 2.5rem;
            border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -ms-border-radius: 1.5rem;
            -o-border-radius: 1.5rem;
            position: relative;

            display: flex;
            align-items: center;

            img{
                width: 6rem;
                height: 6rem;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
            }

            .episodeDetails{
                flex: 1;
                margin-left: 1rem;

                a{
                    display: block;
                    color: var(--gray-800);
                    font-family: Lexend, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    line-height: 1.4rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                p{
                    font-size: 0.875rem;
                    margin-top: 0.5rem;
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span{
                    display: inline-block;
                    margin-top: 0.5rem;
                    font-size: 0.875rem;

                    &:last-child{
                        margin-left: 0.5rem;
                        padding-left: 0.5rem;
                        position: relative;

                        &::after{
                            content: "";
                            width: 4px;
                            height: 4px;
                            background: #DDD;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform:translate(-50%,-50%);
                            border-radius: 2px;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            -ms-border-radius: 2px;
                            -o-border-radius: 2px;
                            -webkit-transform:translate(-50%,-50%);
                            -moz-transform:translate(-50%,-50%);
                            -ms-transform:translate(-50%,-50%);
                            -o-transform:translate(-50%,-50%);
                        }
                    }
                }
            }

            button{
                position: absolute;
                right:2rem;
                bottom:2rem;
                width: 2.5rem;
                height: 2.5rem;
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.675rem;
                -moz-border-radius: 0.675rem;
                -ms-border-radius: 0.675rem;
                -o-border-radius: 0.675rem;
                -webkit-border-radius: 0.675rem;
                font-size: 0;
                transition: filter 0.2s;
                -webkit-transition: filter 0.2s;
                -moz-transition: filter 0.2s;
                -ms-transition: filter 0.2s;
                -o-transition: filter 0.2s;
                
                img{
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover{
                    filter: brightness(0.95);
                    -webkit-filter: brightness(0.95);
                }
            }
        }
    }
}

.allEpisodes{
    padding-bottom:2rem;

    table{
        width:100%;

        th,td{
            padding:0.75rem 1rem;
            border-bottom:1px solid var(--gray-100);
        }

        th{
            color:var(--gray-200);
            text-transform:uppercase;
            font:500 0.75rem Lexend, sans-serif;
            text-align:left;
        }

        td{
            font-size:0.875rem;

            img{
                width:2.5rem;
                height:2.5rem;
                border-radius:.5rem;
                -webkit-border-radius:.5rem;
                -moz-border-radius:.5rem;
                -ms-border-radius:.5rem;
                -o-border-radius:.5rem;
            }       

            a{
                color:var(--gray-800);
                font: 600 1rem Lexend, sans-serif;
                text-decoration:none;
                line-height:1.4rem;

                &:hover{
                    text-decoration:underline;
                }
            }

            button{
                width: 2rem;
                height: 2rem;
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                -webkit-border-radius: 1rem;
                
                transition: filter 0.2s;
                -webkit-transition: filter 0.2s;
                -moz-transition: filter 0.2s;
                -ms-transition: filter 0.2s;
                -o-transition: filter 0.2s;
                
                font-size: 0;
                
                img{
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover{
                    filter: brightness(0.95);
                    -webkit-filter: brightness(0.95);
                }
            }
        }
    }
}